.sw-cms-el-preview-moorl-brand-slider {
    align-items: center;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-gap: 5px;
    height: 100%;
    p {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        font-size: 40px;
    }
}
