<div class="sw-cms-el-preview-moorl-brand-slider">
    <sw-icon name="default-arrow-head-left" size="10"></sw-icon>
    <p><i class="fab fa-apple"></i></p>
    <sw-icon name="default-arrow-head-right" size="10"></sw-icon>
</div>
