<div class="sw-cms-el-moorl-brand-slider">

    <div class="sw-cms-el-moorl-brand-slider__content">

        <div class="sw-cms-el-moorl-brand-slider__navigation">
            <sw-icon class="sw-cms-el-moorl-brand-slider__navigation-button"
                     name="default-arrow-head-left"
                     size="24">
            </sw-icon>
        </div>

        <div class="sw-cms-el-moorl-brand-slider__brand-holder" :style="sliderBoxMinWidth" ref="brandHolder">
            <i class="fab fa-apple"></i>
        </div>

        <div class="sw-cms-el-moorl-brand-slider__navigation">
            <sw-icon class="sw-cms-el-moorl-brand-slider__navigation-button"
                     name="default-arrow-head-right"
                     size="24">
            </sw-icon>
        </div>

    </div>

</div>
