.sw-cms-el-moorl-brand-slider {
    width: 100%;
    .sw-cms-el-moorl-brand-slider__title {
        margin: 20px 0;
    }
    .sw-cms-el-moorl-brand-slider__content {
        min-height: 100%;
        display: grid;
        grid-template-columns: 32px 1fr 32px;
        gap: 0 8px;
        .sw-cms-el-moorl-brand-slider__navigation {
            align-self: center;
            justify-self: center;
        }
        .sw-cms-el-moorl-brand-slider__brand-holder {
            align-self: center;
            justify-self: center;
            font-size: 60px;
            text-align: center;
        }
    }
}
