<div class="sw-cms-el-config-moorl-brand-slider">

    <sw-entity-multi-select
        v-model="brandCollection"
        @change="onBrandsChange"
        :criteria="brandMediaFilter">
    </sw-entity-multi-select>

    <sw-field type="switch"
              bordered
              :label="$tc('moorl-cms.elements.general.config.label.rotate')"
              v-model="element.config.rotate.value">
    </sw-field>

    <sw-field type="text"
              :label="$tc('moorl-cms.elements.general.config.label.minWidth')"
              v-model="element.config.elMinWidth.value">
    </sw-field>

    <sw-field type="text"
              :label="$tc('moorl-cms.elements.general.config.label.height')"
              v-model="element.config.height.value">
    </sw-field>

    <sw-field type="switch"
              bordered
              :label="$tc('moorl-cms.elements.general.config.label.useLink')"
              v-model="element.config.useLink.value">
    </sw-field>

    <sw-field type="switch"
              bordered
              :label="$tc('moorl-cms.elements.general.config.label.onlyImages')"
              v-model="element.config.onlyImages.value">
    </sw-field>

</div>
