.cms-element-moorl-brand-slider {
    width: 100%;
    height: 100%;

    .product-slider-container {
        display: flex;
        align-items: center;
        .product-slider-item {
            text-align: center;
            font-weight: 600;
            text-transform: uppercase;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
